<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin:0;padding:0;list-style: none;
        }
        .box{
            display: flex;height:200px;
            width:800px;background:#fff;
        }
        .child1{
            flex:1 200px;background:red;height:200px;
        }
        .child2{
            flex:2 300px;background: blue;height:200px;
        }
        .child3{
            flex:3 400px;background: green;height:200px;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="child1"></div>
        <div class="child2"></div>
        <div class="child3"></div>
    </div>
</body>
</html>