*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.svn/
*.swp
.nojekyll
.project
.settings/
node_modules/
*.sync.ffs_db
*.psd
*.rb
*.scssc
sea-config
*.log
test_datas/
sftp-config.json
finance_dist/
mobile/msite/dist/
mobile/msite/.happypack/
pub/flagment/video2016.min.css
.vscode/
pub/flagment/pages/Aplus-2017/static/dist/
independent/caijing_app/
website/**/dist
.vscode/

