<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
    <script>
        window.onload=function(){
            var vm=new Vue({
                el:'.box',
                data:{
                    a:0,
                    b:0
                },
                watch:{
                    a(newVal,oldVal){
                        alert(`${oldVal}变为${newVal}`)
                    }
                },
                methods:{
                    fn:function(){
                        alert('提交了')
                    }
                }
               
            })
        }
    </script>
</head>
<body>
    <div class="box">
        <input type="text" value="" v-model="a">
        <input type="text" value="" v-model="b">
        {{a+b}}
       <form action="index.html" method="post"  @submit.prevent="fn" @keydown.prevent="fn"> 
           <input type="text" value="" name="user">
           <input type="submit" value="提交">
       </form>
      
    </div>
</body>
</html>